{{!-- The following component displays Ember's default welcome message. --}}
<h1>Exercices TD1</h1>
<ul>
  <li>{{#link-to "ex1"}}Exercice 1 : Note{{/link-to}}</li>
  <!--<li>{{#link-to}}Exercice 2{{/link-to}}</li>-->
</ul>
{{outlet}}